<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="TFMProfiles" type="TinyFileManager.NET.ConfigProfiles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <system.web>
    <compilation targetFramework="4.5.1" /> 
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <TFMProfiles>
    <profile name="Default">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions/>
      <UploadPath>image\scr\files</UploadPath>
      <ThumbPath>image\scr\thumbs</ThumbPath>
      <ThumbHeight>300</ThumbHeight>
      <ThumbWidth>550</ThumbWidth>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <RootPath/>
      <RootURL/>
      <FillSelector/>
      <PopupCloseCode/>
    </profile>
    <profile name="NoTinyMCE">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions/>
      <UploadPath>image\scr\files</UploadPath>
      <ThumbPath>image\scr\thumbs</ThumbPath>
      <ThumbHeight>550</ThumbHeight>
      <ThumbWidth>300</ThumbWidth>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <RootPath/>
      <RootURL/>
      <FillSelector>'#demotextbox', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
  </TFMProfiles>
</configuration>